@tailwind base;
@tailwind components;
@tailwind utilities;

/* รองรับ safe area บน iPhone (ถ้าอยากใช้ใน App.jsx) */
:root {
  --safe-top: env(safe-area-inset-top, 0px);
  --safe-bottom: env(safe-area-inset-bottom, 0px);
}
.safe-top {
  padding-top: var(--safe-top);
}
.safe-bottom {
  padding-bottom: var(--safe-bottom);
}
html,
body,
#root {
  height: 100%;
}
body {
  overscroll-behavior-y: contain;
}
button {
  touch-action: manipulation;
} /* กัน double-tap zoom */
